
# Ignore folders
ai/
rdata/
raw_data/
data/images/
figures/
analysis/

# Ignore system files (macOS / Windows)
.DS_Store
Thumbs.db

# Ignore presentations
*.pptx

# Ignore compressed files
*.zip
*.tar

# Ignore data files
*.csv
*.tsv
*.rds
*.rdata

# Ignore images
*.jpg
*.pdf
*.tiff
*.png
*.jpeg
